* {
  box-sizing: border-box;
}

body {
  background: black;
}

.app {
  height: 550px;
  width: 550px;
  margin-left: 15px;
  margin-top: 25px;
  background: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: whitesmoke;
  height: 130px;
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;

}
.app-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;

}
.app-startquiz {
  width: 193px;
  height: 52px;
  margin-top: 19px;
  color: white;
  background: #4D5B9E;
  border-radius: 15px;
}